body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.introContainer {
    position: absolute;
    top: 0;
}

#container {
    width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 50px 2px
}

#container1 {
    width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px
}

#questionsHeadline {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
}

#questionsHeadline1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
}

.buttons {
    display: grid;
    gap: 5px;
    padding: 10px 20px;
}

.button {
    border-radius: 15px;
    padding: 15px;
}

.button:hover {
    border-color: #c52100;
}

.startButton {
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.startButton:hover {
    background-color: #3cd93c;
}

.startContainer {
    position: absolute;
    bottom: 150px;
}

#restartContainer {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#restartButton {
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.hide {
    display: none;
}


